body {
    margin: auto;
    width: 50%;
}

.container {
    border: 1 px solid black;
    width: 1000px;


}

.logo {
    background-image: url(../img/pattern.png);
    height: 150px;
    width: 1000px;
    background-color: aqua;
}

#logo2 {
    height: 200px;
    width: 200px;

}

.text {
    font-size: 40px;
    font-weight: bold;
}

.text2 {
    color: grey;
}

.link {
    color: aqua;
}

.text3 {
    color: grey;
    font-size: 15px;

}

.img {
    margin-top: 20px;
    height: 400px;
    width: 450px;
}

#yellow {
    background-color: yellow;
}

.table {

    margin: auto;
    background-color: aqua;

}

th {
    color: white;
    background-color: blue;

}

#riga {
    background-color: white;
}

h3 {
    color: grey;
}

.img2 {
    
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    
}

.lorem {
    color: white;
    font-size: 25px;

}
