body{
    margin: auto;
    width: 50%;
}

.contain{
    background-image: url(../img/pattern.png);
    height: 150px;
    width: 900px;
    background-color: aqua;
    position: relative;
}

#img{
    height: 200px;
    width: 300px;
}

.text3{
    color: grey;
}

.text4{
    color: grey;
    font-size: 15px;
}

.immage{
    height: 300px;
    width: 430px;
}